{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>全球生鲜卖家管理后台</title>
    <link rel="stylesheet" href="{% static 'seller/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'seller/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'seller/js/xadmin.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>


<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">商品管理</a>
        <a href="/seller/goods_list/">商品列表</a>
      </span>
</div>
<div class="x-body layui-anim layui-anim-up">
    {#    1.添加 enctype  action 和 csrf_token #}
    <form class="layui-form" method="post" action="/seller/goods_add/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>商品编号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_num" name="goods_num" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>商品名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_name" name="goods_name" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>商品原价
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_oprice" name="goods_oprice" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品现价
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_cprice" name="goods_cprice" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品库存
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_count" name="goods_count" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        {#        2.将储存方法修改成商品描述#}
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品描述
            </label>
            <div class="layui-input-inline">
                <input type="text" id="goods_desc" name="goods_desc" required=""
                       autocomplete="off" class="layui-input">
            </div>
        </div>


        {#        4. 添加 multiple 属性，表示可以上传多张图片#}
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品缩略图
            </label>
            <div class="layui-input-inline">
                <input type="file" id="userfiles" name="userfiles" required=""
                       autocomplete="off" class="layui-input" multiple>
            </div>
        </div>

        {#        5.将 配送地址 改成 商品类型#}
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>商品类型
            </label>
            <div class="layui-input-inline">
                <select id="goods_type" name="goods_type" required=""
                        autocomplete="off" class="layui-input">
                    {% for type_obj in type_obj_list %}
                        <option value="{{ type_obj.id }}">{{ type_obj.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {#        6. 将 商品内容，改成 商品详情 #}
        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                商品详情
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="goods_detail" name="goods_detail" class="layui-textarea"
                          required=""></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>

            <input type="submit" class="layui-btn" lay-filter="add" lay-submit="" value="增加"/>

        </div>
    </form>
</div>
<script>
    $(function () {
        $('#goods_num').blur(function () {
            var goods_num = $('#goods_num').val();
            $.ajax({
                url: '/seller/goods_add_ajax/',
                type: 'GET',
                data: {'goods_num': goods_num},
                success: function (res) {
                    if (res.status === 'true') {
                        window.location.href = '/seller/goods_change/?id=' + res.goods_id
                    }
                },
                error: function (res) {
                    alert('错误')
                }
            })
        })
    })
</script>


<script>
    CKEDITOR.replace('goods_content', {uiColor: '#FFFFFF'})
</script>

</body>

</html>