{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>全球生鲜卖家管理后台</title>
    <link rel="stylesheet" href="{% static 'seller/css/font.css' %}">
    <link rel="stylesheet" href="{% static 'seller/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'seller/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'seller/js/xadmin.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

</head>


<body>
<div class="x-body layui-anim layui-anim-up">
    {#    1.添加 enctype  action 和 csrf_token #}
    <form class="layui-form" method="post" action="/seller/type_add/" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>类型名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="type_name" required=""
                       autocomplete="off" class="layui-input" value="{{ type_name }}">
            </div>
            <span style="color: red" id="error">{{ error_msg }}</span>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>

            <input type="submit" class="layui-btn" lay-filter="add" lay-submit="" value="增加"/>

        </div>
    </form>
</div>
<script>
    $(function () {
        $('#L_email').blur(function () {
            var type_name = $('#L_email').val();
            $.ajax({
                url: '/seller/type_ajax/',
                type: 'GET',
                data: {'type_name': type_name},
                success: function (res) {
                    if (res.status === 'false') {
                        $('#error').text('此类型已存在');
                    } else {
                        $('#error').text('');
                    }
                },
                error: function (res) {
                    alert('请求失败')
                }
            })
        })
    })
</script>
<script>
    CKEDITOR.replace('goods_content', {uiColor: '#FFFFFF'})
</script>

</body>

</html>